body {
    margin: 0;
    padding: 0;
    background-image: url('4oimage.jpg');
    background-size: cover; /* Ensures the image covers the entire page */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    background-position: center center; /* Centers the background image */
    font-family: Arial, sans-serif; /* Adjust the font to your preference */
    color: white; /* Adjust text color to ensure visibility */
}

header {
    position: relative;
    text-align: center;
    padding: 50px 0; /* Adds padding to the header section */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header-content {
    position: relative;
    z-index: 2;
}

.logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20%; /* Adjust the size as needed */
    height: auto;
    z-index: 3; /* Ensure the logo appears above the text */
}

h1 {
    z-index: 3;
    margin-left: 10%;
    font-size: 3vw; /* 8% of the viewport width */
    margin-right: 10%;
    padding: 100px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds shadow to make the text readable */
}

h3{

z-index: 3;
    margin-left: 25%;
    font-size: 2vw; /* 8% of the viewport width */
    margin-right: 25%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds shadow to make the text readable */


}


#about, #services, #contact {
    padding: 4% 10%;
}

#about img {
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    margin-right: 5%;
    float: right;
    padding: 2% 10%;
}

.about-content {
    overflow: auto;
}

#services img {
    max-width: 40%;
    height: auto;
    border-radius: 50%;
    margin-right: 5%;
    padding: 10% 10%;
}

.services {

width:80%;
height: auto;

}

.service-boxes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.service-box {
    background: transparent;
    padding: 20px;
    flex: 1;
    text-align: center;
    border-radius: 5px;
}

#contact a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

#blogpost {

padding: 4% 10%;

}

.blog-content {

    text-align: justify;
    margin-left: 20%;
    margin-right: 5%;



}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
