body {
    margin: 0;
    padding: 0;
    background-image: url('4oimage.jpg');
    background-size: cover; /* Ensures the image covers the entire page */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    background-position: center center; /* Centers the background image */
    font-family: Arial, sans-serif; /* Adjust the font to your preference */
    color: white; /* Adjust text color to ensure visibility */
}

header {
    position: relative;
    text-align: center;
    padding: 50px 0; /* Adds padding to the header section */
}

@media only screen and (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header-content {
    position: relative;
    z-index: 2;
}

.logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50%;
    max-width: 300px;
    height: auto;
    z-index: 3; /* Ensure the logo appears above the text */
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 24pt;
        margin-left: 50px;
        margin-right: 50px;
        padding: 50px 0;
    }

    h3 {
        font-size: 16pt;
        margin-left: 20px;
        margin-right: 20px;
    }

h1 {
    z-index: 3;
    margin-left: 200px;
    font-size: 40pt;
    margin-right: 200px;
    padding: 100px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds shadow to make the text readable */
}

h3{

z-index: 3;
    margin-left: 300px;
    margin-right: 300px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds shadow to make the text readable */


}


#about, #services, #contact {
    padding: 100px 100px;
}

#about img {
    max-width: 350px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
    float: right;
}

.about-content {
    overflow: auto;
}

.service-boxes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

img, .service-box {
    background: transparent;
    max-width: 100%;
    height: auto;
    padding: 20px;
    flex: 1;
    text-align: justified;
    border-radius: 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 0;
    padding: 10px 0;
}
